.Footer {
    text-align: center;
    background-color: #121212;
    color: white;
    padding: 90px;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 1;

}
.Footer p {
    top:24px;
    font-weight: 600;
    font-size: 18px;
}
.socials {
}
